@model University.ViewModels.StudentSearchViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Students" asp-action="Index" method="get">
    Index: <select asp-for="StudentStudentId" asp-items="Model.StudentIds">
        <option value="">All</option>
    </select>

    Name: <input type="text" asp-for="SearchName"/>
    Last Name: <input type="text" asp-for="SearchLast" />
    <input type="submit" value="Filter" />

</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Students.FirstOrDefault().StudentId)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Students.FirstOrDefault().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students.FirstOrDefault().LastName)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Students.FirstOrDefault().FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students.FirstOrDefault().EnrollmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students.FirstOrDefault().AcquiredCredits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students.FirstOrDefault().CurrentSemester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students.FirstOrDefault().EducationLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students.FirstOrDefault().Courses) <!--go dodavame kursot na sekoj student-->
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Students) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcquiredCredits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentSemester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationLevel)
            </td>
            <td>
                @foreach (var course in item.Courses)
                {
                    <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.CourseId"> @course.Course.Title</a> <br /> //go dodavame imeto na kursot na sekoj student
                }
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
